$color_1: #000000;
$color_2: #555;
$background-color_1: #ffffff;

/* Custom CSS to match the design */
/* Add more custom styles if needed */
.navbar {
  background-color: $background-color_1;
  .navbar-nav {
    .nav-item.active {
      .nav-link {
        color: $color_2;
      }
    }
  }
  .phone_nav
  {
    display: flex;
  }
}
.navbar-brand {
  color: $color_1;
}
.nav-link {
  color: $color_1;
}


$color_1: #333;
$background-color_1: #f8f9fa;

/* Custom styles */
/* Additional custom styles can go here */
.services-section {
  h2{
    text-align: center;
  }
  background-color: $background-color_1;
  min-height: 366px;
  background: url("./../../public/images/backround_our_order.svg") no-repeat right 60%;
  background-color: rgba(242, 243, 248, 1);
  .card-body
  {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
    width: 72%;
    font-weight: 700;
    justify-content: flex-start;
  }
}
.service-icon {
  font-size: 2rem;
  color: $color_1;
}


.service-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  align-items: center;
  border: none;
  background: none;
  .card-body {
    padding: 0;
  }
}
.service-title {
  color: $color_1;
  font-weight: bold;
  font-size: 30px;
  width: 386px;
  padding-top: 61px;
}


$color_1: green;

/* Custom styles */
.contact-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 130px;
  margin-bottom: 74px;
}
.service-list {
  margin-left: 20px;
  .complites
  {
    padding-top: 75px ;

    .complites_text
    {
      padding-left: 30px;
    }
  }
}
.service-item {
  margin-bottom: 10px;
  i {
    color: $color_1;
    margin-right: 10px;
  }
}
$color_1: #333;
$background-color_1: #ffffff;

/* Custom styles for the services section */
/* Additional custom styles for the layout */

.services-header {
  color: $color_1;
  margin-bottom: 30px;
}
.services-list {
  padding: 0;
  list-style: none;
}
.service-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.service-text {
  color: $color_1;
}


/* Custom styles */
/* Additional custom styles can go here */
.feature-section{
  background: url("./../../public/images/gold_background.svg")  100%;
  .feature-block {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $color_1;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    .feature-block-item
    {
      display: flex;
      align-items: center;
      .feature-icon {
        width: 62px;
      }
      .feature-text {
        font-size: 1.43rem;
        margin-left: 10px;
        font-weight: bold;
      }

    }
    .feature-description
    {
      font-weight: 600;
      width: 407px !important;
    }


  }
  $color_1: #333;
  $color_2: #666;
}




.advantages-section {
  img {
    max-width: 100px;
  }

}


.how-we-work-section img {
  max-width: 100px; /* Adjust the size as needed */
}
.how-we-work-section h3 {
  color: #333; /* Adjust the color as needed */
  font-size: 1.5rem; /* Adjust the size as needed */
}
.how-we-work-section p {
  color: #666; /* Adjust the color as needed */
}



  .hero-section {
    padding-top: 100px;
    .image_main_block
    {

      height: 653px;
      width: 100%;
      background: url("./../../public/images/main_block.svg") no-repeat center;
    }
    color: #fff909;
    h1{
      font-size: 30px;
      font-weight: 1000;
      color: inherit;
    }
    .row{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: nowrap;
      margin-right: -15px;
      margin-left: -15px;
      justify-content: space-between;
    }



  }




  .service-list
  {
    h3{
      font-size: 30px;
      font-style: normal;
      text-align: left;
      color: #4F4A48;
      font-weight: 600;
    }
    h4
    {
      font-style: normal;
      text-align: left;
      color: #000000;
      font-weight: 400;
      font-size: 20px;
    }
  }


  .contact-form-section
  {
    width: 100%;
    padding-top: 66px;
    background: url("./../../public/images/blurred-green-palm-l.png" ) no-repeat center;
    background-color: #E5E0DC;
  .row
  {
    justify-content: center;
  }

  }

  .main_block_images_description
  {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 39px;/home/murat_developer/Documents/DRAFTS/urist_online-main/dist
  /home/murat_developer/Documents/DRAFTS/urist_online-main/node_modules
  /home/murat_developer/Documents/DRAFTS/urist_online-main/package.json
    align-items: center;
  }

  .advantages-section
  {
    color: white;
    background: rgba(110, 107, 105, 1);
    h2{
      max-width: 817px;
      height: 27px;
      font-weight: 1000;
      font-size: 2rem;
      padding-bottom: 66px;
    }
    .advantages-item
    {

      h3{
        font-size: 24px;
        font-style: normal;
        text-align: left;
        font-weight: 700;
        width: 319px;
        margin: 0 auto;
      }
      p{
        width: 319px;
        margin: 0 auto;
        text-align: left;
      }
      .row{
        padding-top: 34px;
      }

    }
  }

.how-we-work-section
{
  color: #4F4A48;
  h2{
    font-weight: 1000;
    font-size: 2rem;
    display: inline-block;
    width: 436px!important;
    text-align: center!important;
    display: inline-block;
  }
  .advantages-item
  {
    h3{
      font-size: 24px;
      font-style: normal;
      text-align: left;
      font-weight: 700;
      width: 319px;
      margin: 0 auto;
    }
    p{
      width: 319px;
      margin: 0 auto;
      text-align: left;
    }
    .row{
      padding-top: 34px;
    }
  }
}


@media (min-width: 1200px) {
  // .container, .container-lg, .container-md, .container-sm, .container-xl {
  //   max-width: 1400px;
  // }





}

.testimonials-section {
  background: url('./../../public/images/background_otzyvy.svg') no-repeat center;
  background-size: cover;
  padding: 40px 0;
   /* Optional: for better readability over the background image */
  // @media (min-width: 1200px) {
  //   .container, .container-lg, .container-md, .container-sm, .container-xl {
  //     max-width: 1380px;

  //   }
  // }
  .testimonial p {
    color: #6E6B69; /* For white text */
    margin-bottom: 1rem;
    font-weight: 700;

  }
  h2{
    padding-bottom: 44px;
    display: inline-block;
    color: #4F4A48;
    font-size: 30px;
    font-weight: 700;
  }
}


/* Additional styles for layout and typography */

.pricing-section {
  padding: 40px 0; /* Adjust the background color as needed */
}
.pricing-header {
  text-align: center;
  margin-bottom: 20px;
}
.price-tag {
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
  color: #555; /* Adjust the text color as needed */
}
.description-toggle {
  text-align: center;
  cursor: pointer;

  .arrow_down{
    position: relative;
    left: 40%;
  }
}
.description-toggle i {
  transition: transform 0.3s ease;
}
.collapse.show + .description-toggle i {
  transform: rotate(180deg); /* Rotate arrow when description is shown */
}
/* Additional styles for layout and typography */


.pricing-section { /* Light yellow background */
  padding: 20px 0;
  font-family: Arial, sans-serif; /* Assuming Arial is used */

  .pricing-card-block
  {
  flex-wrap: nowrap;

  
  }
}


.pricing-section h2 {
  color: #333; /* Dark grey color for the text */
  text-align: center;
  margin-bottom: 20px;
  
}
.pricing-card {
  text-align: center; /* Spacing between cards */
}
.pricing-card h3 {
  color: #b2975b; /* Goldish color for the titles */
  font-size: 1.5rem; /* Larger font size for emphasis */
}
.pricing-card p {
  color: #333; /* Dark grey color for the text */
}
.icon {
  /* Icon background */
  background-size: contain; /* Make sure the icon fits inside the div */
  height: 80px; /* Height of the icon */
  margin-bottom: 10px; /* Spacing between icon and text */
}


.services-breakdown {
  background-color: #ffffff; /* White background */
  padding: 20px;
  font-family: Arial, sans-serif; /* Assuming Arial is used */
  .row{
    flex-wrap: nowrap;
  }
}

.services-breakdown{
 .row{
   .tarif_item{
    display: inline-block;
   } 
 }  
}

.services-breakdown .row:not(:last-child) {
  border-bottom: 1px solid #000; /* Black border for separation */
  padding-bottom: 10px; /* Spacing below the row content */
  margin-bottom: 10px; /* Spacing below the border */
}
.services-breakdown .col {
  text-align: center;
  padding: 5px 0; /* Small padding for each cell */
}
.services-breakdown .col:first-child {
  text-align: left;
}
.services-breakdown .col:last-child {
  text-align: right;
}
/* Custom styling for plus and minus signs */
.services-breakdown .plus {
  color: green;
  font-weight: 700; /* Plus sign in green */
  
}
.services-breakdown .minus {
  color: red; /* Minus sign in red */
  font-weight: 700;
}


.pricing-card-block-title
{

  h3{
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: #b2975b;
  }
}


.pricing-section .pricing-card-block-title h3 {
    text-align: center;
}

.pricing-section .pricing-card h3,
.pricing-section .pricing-card p {
    text-align: center;
    font-weight: 700;
}

.pricing-section .icon {
    width: 100%; /* Adjust icon width as necessary */
    max-width: 80px; /* Set a max-width for the icon */
    margin: 0 auto 10px; /* Center the icon and add some space below */
}

@media (max-width: 768px) {



  .advantages-section h2 {
    max-width: 817px;
    height: 27px;
    font-weight: 1000;
    font-size: 2rem;
    padding-bottom: 141px;
}

    .pricing-section .pricing-card-block-title,
    .pricing-section .pricing-card {
        text-align: center;
        h3{
          font-size: 13px;
        }
    }

    .pricing-section .pricing-card h3,
    .pricing-section .pricing-card p {
        font-size: 0.7rem; /* Scale down font size */
    }

    .pricing-section .icon {
        max-width: 60px; /* Scale down icon size */
    }

    .description-toggle {
        text-align: center;
    }

    .description-toggle .arrow_down {
        width: 30px; /* Scale down arrow size */
        margin: 10px auto; /* Center the arrow below the pricing cards */
    }
}

@media (min-width: 1024px) {
  .main_block_images_description
  {
    img:first-child{
      width: 100%;
    }
    

    img:last-child{
      width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .main_block_images_description
  {
    img:first-child{
      width: 100%;
    }
    

    img:last-child{
      width: 100%;
    }
  }
}


