$--color-primary-purple: #016F52;
$--color-primary-purple-50: #1A77A3;
$--color-primary-purple-25: #E5E5E5;
$--color-accent-1-blue: #81D2BC;
$--color-accent-1-blue-75: #D7E8EF;
$--color-accent-1-blue-25: #1C77A4;
$--color-neutral-1-dark: #000;
$--color-neutral-2-grey: #FFF;
$--green: #33836E;
$--gray-medium: rgba(47, 43, 67, 0.50)

